/.idea/
/.set_up_env.bash
/brandon_matlab_code/
/data/weather/
/metadata/1D.xml
/metadata/imush_shots.kml
/fdprop/Acoustic_2D/
/fdprop/nodal_fdprop_runs/
/*.egg-info/
*.png
*.jpg
*.gif
*.tif
*.gdoc
*.mseed
*.mat
*.pptx
*.ai
*.pdf
*.npy
Icon?
.DS_Store
